@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes changeCursorColor {
  0% {
    background-color: green;
  }
  50% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.wallpaper {
  animation: show 10s;
}
.wallpaper__img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 7s;
}

.zoom-in {
  animation: zoomIn 4s forwards;
}

.wrapper {
  display: none;
  animation-delay: 10s;
  animation: show 1.5s;
  background: url(img/body_history1.png);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  height: 220px;
  background-color: #201217;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  width: 166px;
}
.header__img-menu:hover {
  cursor: pointer;
}
.header__center-img {
  width: 520px;
  height: 220px;
}
.header__right {
  width: 166px;
}
.header .music {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.header .music__text {
  color: #FDF1D5;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}
.header .music__img {
  color: #FDF1D5;
  width: 60px;
  height: 55px;
  cursor: pointer;
  filter: brightness(110%);
}
.header .music__img-text {
  position: absolute;
  visibility: hidden;
  width: 140px;
  background-color: #747474;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
  bottom: -60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.3s;
}
.header .music:hover .music__img-text {
  visibility: visible;
  opacity: 1;
}

.top {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  background-color: white;
  background-size: cover;
}
.top__box {
  display: flex;
  width: 499px;
  height: 498px;
}
.top__round {
  border-radius: 50%;
  background-image: url(img/light2.png);
  background-size: cover;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 460px;
  opacity: 0;
  transition: transform 5s, opacity 0.3s;
}
.top__round-small {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #fff;
  box-shadow: 0px 0px 5px 5px #fefefe;
  border-radius: 50%;
  transition: transform 5s, opacity 0.3s;
  opacity: 0;
}

.content {
  background: url(img/body.png) no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content__text {
  color: #fff;
  text-transform: uppercase;
  font-size: 150px;
  letter-spacing: 20px;
  font-weight: 800;
}

.about {
  min-height: 250vh;
  transition: opacity 0.7s;
}
.about__title {
  color: #2c5536;
  font-size: 30px;
  padding-top: 25px;
}
.about__box {
  margin-top: 25px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 30px;
  opacity: 0.1;
}
.about__box-title {
  padding-bottom: 10px;
}

.cursor {
  cursor: default;
}

.visible {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

.block-button {
  display: flex;
  justify-content: flex-end;
}

.button-skip {
  border-radius: 20px;
  background-color: rgba(254, 166, 3, 0.953);
  border-color: rgba(254, 166, 3, 0.953);
  position: fixed;
  margin-top: 20px;
  margin-right: 30px;
  padding: 5px;
  width: 155px;
  height: 30px;
}

.info {
  min-height: 100vh;
  padding-top: 30px;
  background: #F7E7DB;
  box-sizing: border-box;
}
.info__title {
  font-size: 18px;
  padding-bottom: 10px;
  list-style: url(img/bob.png);
}
.info__box {
  padding-bottom: 50px;
  align-items: center;
}

.link-box {
  background-color: #F7E7DB;
  display: inline-block;
}
.link-box__img {
  width: 500px;
  margin-left: 70px;
  margin-top: 20px;
}

.menu {
  position: sticky;
  background: url(img/pngwing.png) no-repeat;
  background-size: cover;
  top: 20%;
  margin-top: 50px;
  width: 250px;
  height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__list {
  list-style-type: none;
  margin: 5px;
}
.menu .link {
  text-decoration: none;
  color: rgb(131, 73, 26);
  font-size: 16px;
  font-weight: 700;
}
.menu .link:hover {
  color: rgb(92, 50, 17);
}

.main {
  padding-left: 30%;
  margin-top: -139px;
}
.main__article {
  margin-bottom: 70px;
}
.main__article-inner {
  margin-top: 50px;
  margin-bottom: 30px;
}
.main__title {
  margin-left: 5%;
  margin-bottom: 10px;
  color: rgb(92, 50, 17);
}
.main__title_news {
  font-weight: bold;
}
.main .sourse {
  color: #969595;
  font-size: 15px;
  font-style: italic;
}

.navigation {
  height: 80vh;
}

.footer {
  height: 200px;
  background-color: #201217;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FDF1D5;
}
.footer__img {
  width: 422px;
  height: 200px;
}
.footer .copyright {
  color: #FDF1D5;
}
.footer .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer .contacts__img {
  margin-right: 7px;
  width: 55px;
  height: 55px;
  filter: brightness(200%);
}
.footer .contacts .mail {
  width: 65px;
  height: 65px;
  filter: brightness(150%);
}
.footer .email {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .email:hover {
  color: gold;
}
.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FDF1D5;
  margin-left: 5px;
}
.footer .social__text {
  margin-left: 5px;
}
.footer .social:hover {
  cursor: pointer;
  color: gold;
}

.calendar-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: margin 3s;
  max-width: 499px;
  max-height: 498px;
}

#calendarInnerRing {
  position: absolute;
  cursor: pointer;
}

#canvas {
  position: absolute;
  top: -26px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

#canvas.active {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */